html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.woff2"), url("fonts/TTLakes-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Medium.woff2"), url("fonts/TTLakes-Medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.woff2"), url("fonts/TTLakes-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "TT Lakes", "Arial", sans-serif;
  margin: 0px 0px;
  background-color: #ffffff;
}

.services-container {
  background-color: #f8f8f8;
}

/* ЗАГОЛОВОК */

.services__title-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 16px 16px 20px 33px;
  border-top: 1px solid #d9fff5;
}

.services__title {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  background: linear-gradient(
    90deg,
    rgba(248, 248, 248, 1),
    rgba(255, 255, 255, 1)
  );
}

/* КАРТОЧКИ */

.services__brends-container {
  display: flex;
  flex-wrap: wrap;
  /* padding-left:16px; */
}

.services__card-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 238px;
  height: 70px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  margin: 0px 16px 16px 16px;
}

.services__card--hidden {
  display: none;
}

.services__img-brend {
  object-fit: none;
  padding-left: 15px;
}

.services__img-link {
  padding-right: 15px;
}

@media (min-width: 568px) and (max-width: 767px) {
  .services__card:nth-child(-n + 4) {
    display: flex;
  }
  .services__card-style {
    margin: 0px 12px 16px 12px;
  }
  .services__brends-container {
    margin-top: 24px;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .services__card-style {
    width: 222px;
  }
  .services__title-container {
    padding: 16px 16px 20px 24px;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .services__card:nth-child(-n + 6) {
    display: flex;
  }
  .services__card-style {
    margin: 0px 12px 16px 12px;
  }
  .services__brends-container {
    margin-top: 24px;
  }
  .swiper-pagination {
    display: none;
  }
  .services__card-style {
    width: 222px;
  }
  .swiper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .services__title-container {
    padding: 16px 16px 20px 24px;
  }
}

@media (min-width: 900px) {
  .services__card-style {
    margin: 0px 16px 16px 16px;
  }
  .services__card-style {
    width: 238px;
  }
  .swiper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .services__title-container {
    padding: 16px 16px 20px 32px;
  }
}

@media (min-width: 1120px) {
  .services__card:nth-child(-n + 8) {
    display: flex;
  }
  .services__card-style {
    margin: 0px 16px 16px 16px;
  }
  .services__brends-container {
    margin-top: 24px;
  }
  .swiper-pagination {
    display: none;
  }
}

/* КНОПКА */

.services__btn-container {
  max-height: 66px;
  padding: 9px 16px 34px 39px;
  background-color: #f8f8f8;
}

.services__btn-style {
  border: none;
  text-decoration: none;
  background-color: #f8f8f8;
}

.services__btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.services__btn-img {
  margin-right: 12px;
}

.services__btn-img--hidden {
  transform: rotate(180deg);
}

/* mobaile */

@media (min-width: 100px) and (max-width: 567px) {
  .services__btn {
    display: none;
  }
  .services__card {
    display: flex;
  }
  .services__brends-container {
    flex-wrap: nowrap;
    /* min-width: 0; */
  }
  .services__card-style {
    flex-shrink: 0;
  }
  .services__card-style {
    margin: 0px 8px 9px 8px;
  }
  .services__brends-container {
    margin-top: 16px;
    margin-right: 40px;
  }
  .services__btn-container {
    /* display: none; */
    padding: 11px 26px 14px 39px;
  }
  .swiper {
    /* max-width: 300px; */
    height: auto;
    padding-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .services__title-container {
    padding: 16px 16px 20px 15px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.swiper-pagination-bullet {
  background-color: #dddddd;
}
